:root {
    --font-family: "Nunito Sans";
    --hover-color: #FFFFFF33;
    --white-color: white;
    --red-color: #FF0000;
    --dark-red: #FF00004D;
    --grey-color: #6A6A6A;
    --font-2: "Open Sans";
    --black-color: #28272C;
    --grey-2: #D1D1D1;
    --placeholder-color: #B2B2B2;
}
* {
    box-sizing: border-box;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: url("../images/Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    font-family: var(--font-family), sans-serif;
}
.header::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
}
.container {
    margin: 0 auto;
    max-width: 1088px;
}
.header_top {
    position: relative;
    height: 90px;
    border-bottom: 2px solid ;
    background-color: #00000066;
}
.header_top .container {
    flex: 1;
    display: flex;
    height: 100% ;
    justify-content: space-between;
    align-items: center;

}

.header_logo {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 35px;
    color: var(--white-color);
    text-transform: uppercase;
}
.header_menu {
    display: inline-flex;
    align-items: center;
    color: var(--white-color);
    height: 100%;
    padding: 0 40px;


}
.header_menu:hover {
    background-color: var(--hover-color);
}
.header_nav {
    height: 100%;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.logo_text_red {
    color: var(--red-color);
    margin-left: 10px
}

.header__text .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__text--center {
    font-family: var(--font-family), sans-serif;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;

}
.header__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
}
.header__text--big {
    font-size: 90px;
    font-family: var(--font-family);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white-color);
}

.header_btn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.header__link {
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--red-color);
    padding: 23px 54px;
    border-radius: 40px;
    border: 0;
    margin: 50px 25px;

}
.header__link--secondary {
    background-color: var(--white-color);
    color: var(--red-color);
}
.header__arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    background-color: var(--red-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
}
.section_title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 91px;
    margin-bottom: 31px;

}

.section_title::before, .section_title::after {
    content: '';
    display: block;
    height: 3px;
    width: 50px;
    background: var(--red-color);
    border-radius: 8px;
}
.section_article {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section_article_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
}
.section_article_block img {
    height: 234px;
    width: 352px;
}
.blog_article_title {
    font-weight: 400;
    font-size: 19px;
    color: var(--grey-color);
    font-family: var(--font-family);
    text-transform: uppercase;

}
.blog_article_text {
    font-family: var(--font-2);
    color: var(--grey-color);
    font-size: 14px;
    text-align: left;
}
.blog_article_text_block {
    width: 260px;
    height: 79px;
}
.blog_article_title_block {
    width: 231px;
    height: 26px;
    margin: 10px 121px 15px 0;
}
.blog_article_bnt {
    align-self: flex-start;
    margin-bottom: 100px;
}


.btn {
    text-decoration: none;
    display: flex;
    text-transform: uppercase;
    color: var(--white-color);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: bold;
    background-color: var(--red-color);
    border-radius: 50px;
    padding: 11px 21px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.service {
    height: 643px;
    width: 100%;
    background-color: var(--black-color);
    color: var(--white-color);
}

.service_article {
    display: flex;

}
.section_title_service {
    margin-top: 60px;
    margin-bottom: 75px;
}
.service .container {
    height: 100%;
}
.section_title_service {
    padding-top: 60px;
}

.service_article_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45px;
}
.service_article_block img {
    width: 170px;
    height: 170px;
}
.service_article_bnt {
    margin-top: 55px;
    margin-bottom: 100px;
    align-self: center;
}
.service_article_title {
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 19px;
    font-weight: normal;
}
.service_article_title_block {
    width: 235px;
    height: 26px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.service_article_text_block {
    width: 231px;
    height: 80px;
}

.section_title_contact {
    margin-top: 65px;
    margin-bottom: 35px;
}

.contact_article_block {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.form_photo img {
    width: 444px;
    height: 316px;
}
.contact_form_block {
    height: 100%;
    width: 444px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 16px;
}

input[type="text"], input[type="email"],  textarea {
    border-radius: 8px;
    border: 1px solid var(--grey-2);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: normal;
    outline: none;
    width: 444px;
}
input[type="email"] {
    margin-top: 20px;
}
textarea {
    margin-top: 20px;
    min-height: 140px;
}
input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
    color: var(--placeholder-color);

}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
    background: var(--white-color);
    box-shadow: 0 1px 6px var(--dark-red);
    border: 1px solid var(--red-color);
    opacity: 1;
}
input[type="text"]:focus, input[type="emial"]:focus, textarea:focus {
    box-shadow: 0 1px 6px var(--dark-red);
    border: 1px solid var(--red-color);
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox {
    cursor: pointer;
    display: flex;
    font-family: var(--font-2), sans-serif;
    font-size: 10px;
    color: var(--placeholder-color);
    width: 444px;
    height: 71px;
    margin-top: 20px;
}

.checkbox span {
    height: 22px;
    flex-basis: 22px;
    border-radius: 8px;
    border: 1px solid var(--grey-2);
    flex-shrink: 0;
    cursor: pointer;
    margin-right: 10px;
}
.checkbox input:checked + span {
    background-image: url("../images/Icon Check.svg");
    background-position: center;
    background-repeat: no-repeat;
}

button {
    margin-top: 20px;
    color: var(--red-color);
    border: 1px solid var(--red-color);
    border-radius: 40px;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: bold;
    text-transform: uppercase;
    padding: 11px 52px;
    background-color: var(--white-color);
    align-self: flex-end;
    margin-bottom: 75px;
    transition: 0.5s;
}
button:hover {
    box-shadow: 0 1px 6px var(--dark-red);
    border: 1px solid var(--red-color);
}
button:active {
    background-color: var(--black-color);
}
button:focus {
    outline: none;
    box-shadow: 0 1px 6px var(--dark-red);
    border: 1px solid var(--red-color);

}
.footer {
    background-color: var(--black-color);
    color: var(--white-color);
}
.bottom_logo {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 25px;
    color: var(--white-color);
    text-transform: uppercase;
    padding-top: 40px;
    margin-bottom: 22px;

}
.bottom_logo span {
    color: var(--red-color);
}
.footer_content {
    display: flex;
    justify-content: flex-start;
}

.footer_content {
    padding-bottom: 40px;
}

.footer_link {
    display: flex;
    flex-direction: column;
}
.footer_link a {
    color: var(--white-color);
    font-family: var(--font-family);
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 7px;
}
.footer_link a:hover {
    color: var(--red-color);
}
.footer_link_block1 {
    margin-right: 200px;
}
.footer_small_text {
    color: var(--grey-2);
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: lighter;
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}